/*targets the html element h1 */
/*css resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background-image: linear-gradient(rgba(17,126,112,0.75), rgba(0,88,255,0.45))*/;
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.wrapper {
  display: inline-flex;
  justify-content: center;
}
.wrapper i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.wrapper a:nth-child(1) {
  color: #3D59AB;
}
.wrapper a:nth-child(2) {
  color: #1da1f2;
}
.wrapper a:nth-child(3) {
  color: #C13584;
}
.wrapper a:nth-child(4){
  color: #1DB954;
}
.wrapper a:nth-child(5) {
  color: #c8232c;
}
.wrapper a:nth-child(6){
  color: #34526f;
}
.wrapper a:nth-child(7){
  color: #0e76a8;
}
.wrapper i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	color: #3f7dc7; /*this changes the font color of the h1 element*/
	background-color: rgba(51,51,51, 0.5);  /*off black*/
	text-transform: uppercase; 
	font-size: 35px;
	letter-spacing: 2.7px;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 15px;
    font-family: 'Courgette', cursive;
    text-shadow: 4px 4px black;
}
/*end of h1 styling*/

/*start of h2 styling*/
h2{
   color: #0bb791;
   background-color: rgba(51,51,51, 1.0);
   font-family: 'Cabin', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3.75px;
   margin-bottom: 15px;
   padding: 10px;
   border-radius: 10px;

}
/*end of h2 styling*/

/*targets the html element with the class attribute bio*/
.bio {
	font-size: 24px;
	line-height: 25px;
	background-color: rgba(51,51,51, 0.5);
	font-family: 'Caveat', cursive;
	color: #ffffff;
}
/*end of bio*/

/*targets the html element with the class attribute me*/
#me {
  height: 325px;
  width: 325px;
  border-radius: 50%;
  border-width: 5px;
  border-color: darkblue;
  border-style: solid;
  margin-top: 50px;
  margin-bottom: 25px;
  color: #ffffff;
  box-shadow: 4px 4px black;


}
/*end of bio*/
 
/* HTML  SCSS Result */


